.App {
    background-color: rgb(253, 238, 164);
    text-align: center;
    margin: 10px;
  }

  .note {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
  }
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
  }
  